/.vscode
__pycache__/
/assets/Icons
/assets/FFXIVIcons Battle(PvE)
/assets/FFXIVIcons Battle(PvP)
/assets/FFXIVIcons Gatherer-Crafter
/assets/FFXIVIcons MainCommand (Others)
/assets/FFXIVIcons Mount-Minion
/assets/misc_assets.zip
